//*****************************************************
//*   VARIABLES
//*****************************************************

//colors
$primary-color: #272727;
$secondary-color: chocolate;
$text-color: #fff;

//fonts
$font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
