//*****************************************************
//*   VARIABLES
//*****************************************************

//colors
$primary-color: #272727;
$secondary-color: chocolate;
$text-color: #fff;

//fonts
$font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

//path
$pathname1: "../img/Thomas_S.webp";
$pathname2: "../img/Shelby-his-wife.jpg";
$pathname3: "../img/big_saloon.jpg";
$pathname4: "../img/walk.jpg";
$pathname5: "../img/all-family.jpg";
$pathname6: "../img/action.jpg";
$pathname7: "../img/flyer.jpg";
